.POPOSSpace {
  width: 100%;
  text-align: center;
}

.POPOSSpace > img {
  width: 100%;
  height: auto;
}

.like {
  position: relative;
  top: -35px;
  left: -95px;
}

.like span {
  position: relative;
  top: -4px;
  left: 3px;
}
